/*@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");*/
@import url("../lib/webgl-tutorials.css");
body {
  margin: 0;
  background-color: white;
}
canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}
