/*@import url("https://webglfundamentals.org/webgl/resources/css/ui-lightness/jquery-ui-1.8.16.custom.css");*/
/*@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");*/
@import url("../lib/jquery-ui-1.8.16.custom.css");
@import url("../lib/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

