/*@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");*/
@import url("../../lib/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  overflow: none;
}

#divcontainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  
}

.floating-div {
  position: absolute;
}
